/var/
/web/bundles/
/web/js
/web/css
/web/img
/web/images
/web/fonts
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/phpunit.xml
/app/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/composer.phar
.idea/
