{% extends '::app.html.twig' %}
{% form_theme edit_form '::form.html.twig' %}

{% block title %}Utilisateur - Edition{% endblock %}
{% block titre %}Modification de l'utilisateur {{entity.prenom}}{% endblock %}
{% block controls %}{% endblock %}

{% block body -%}
    <h1>User edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
