{% extends '::app.html.twig' %}

{% block body -%}

    {% include 'OCIMFormationsBundle:Convention:form-convention.html.twig' %}


<a href="{{ path('convention') }}">
	Back to the list
</a>
{% endblock %}
