
/** Menu **/

header nav.navbar a {
	color: grey
}



/** sidebar **/
#sidebar{
	background-color: #F9F9F9;
}

#sidebar .logo{display: block; margin: 25px auto;  width:85%; max-width: 250px}

#sidebar #user{width:100%;}
#sidebar #user span.user{
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height:50px;
	text-align:center;
	background-color: rgba(200,200,200,0.5);
	margin-right: 5px;

}
#sidebar #user a{display:block;color: inherit}
#sidebar #user span.caret{display:none;}
#sidebar #user a:hover>span.caret{display:inline-block;}
#sidebar #user a{text-decoration: none;}
#sidebar #user ul{display:none; list-style:none;padding-left:0px; margin-left: 0px; background-color: #fcfcfc}

#sidebar #user:hover>a{background-color: #fcfcfc}

#sidebar i{margin-right: 5px}


#sidebar hr{
	width:80%
}

#sidebar nav{
	margin-top: 50px
}



#content{
	padding: 10px 50px 0 0;
}
#titre{
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 25px;
	}

	#sidebar form{display:none;}

#controls{}




/** Styles **/
table tr td{vertical-align:middle}


form select{
	height: 2.3em;
}
form select[multiple]{
	height: auto;
}



/************** MEDIA ******************/
@media only screen and (max-width:767px){
	#content{padding: 10px 20px;}
	#header{text-align:center}

	#header img.logo{margin-left: calc(100% - 160px); height: 40px}
	#sidebar form, #sidebar .logo{display:none;}
	#sidebar{padding-top: 0}
 	#titre h1{float: left}
	#titre #controls{float: right} 
}
