/************ HTML BODY ***************/
/************************************/
html, body{}


/************* HEADER ***************/
/************************************/
header{
	background-color: #ffffff;
	height: 65px;
	border-bottom: 2px solid #e52f23;
}
/**** Logo****/
header a.logo{
	text-decoration: none;
	line-height: 65px;
	font-size: 25px;
	font-variant: small-caps;
}

/**** nav toggle****/
header a#nav-toggle{color: #aaaaaa; padding: 0px 15px}
header a#nav-toggle:hover{color: #e52f23}

/**** USER ****/
#user{padding: 0px 10px}
#user i.fa-user{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 5px;
	background-color: #f2f2f2;
	line-height: 50px;
	text-align:center;
	font-size: 25px;

}
#user>a{
	display:block;
	color: inherit;
	text-decoration: none;
	margin-top: 7px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #f6f6f6;
	border-radio:2px
}
#user span.username{display: inline-block; height:50px; line-height: 50px}
#user>a:hover>span.caret{display:inline-block;}
#user:hover>a{ border: 1px solid #f2f2f2}
#user ul{
	position: absolute;
	display:none;
	list-style:none;
	padding-left:0px;
	margin-left: 0px;
	background-color: #fcfcfc;
}


/************** SIDEBAR *************/
/************************************/
#sidebar{
	position: absolute;
	width: 215px;
	background-color: #f5f5f5;
	border-right: 1px solid #d2d2d2;
	height: 100%;
	overflow: hidden;
	padding-top: 50px
}
/***** Nav FIXED******/
#sidebar .navigation-fixed{
	width: 214px;
}




/************* CONTENT ****************/
/************************************/
#contentwrapper{width:100%}
#content{
	margin-left: 215px;
	background-color:#f9f9f9;
	padding: 25px;
}

/***** Panel ******/
.panel{
	background-color: #ffffff;
}
.panel h3, panel h2{
color: #e52f23;
	padding: 0.5em 1.1em;
	border-bottom: 1px solid #e52f23;
}


/***** titre ****/
#titre{
	margin: 15px 0 25px;
	background-color: #ffffff;
	border-left: 7px solid #e52f23;
	padding: 4px 25px;
}

#titre h2{margin: 0px; color: #777777}

/***** breadcrumbs ******/
#titre nav.breadcrumbs{
	margin-bottom: 0px
}
#titre nav.breadcrumbs a:hover {color: #e52f23; }
#controls{}




/** CORRECTION KUBE **/
table tr td{vertical-align:middle}


form select{
	height: 2.3em;
}
form select[multiple]{
	height: auto;
}
h2, h3, h4, h5, h6{color: #777777 }


/************** MEDIA ******************/
@media only screen and (max-width:767px){
	#content{padding: 10px 20px;}
	#header{text-align:center}

	#header img.logo{margin-left: calc(100% - 160px); height: 40px}
	#sidebar form, #sidebar .logo{display:none;}
	#sidebar{padding-top: 0}
 	#titre h1{float: left}
	#titre #controls{float: right} 
}
