/*********HEADER*******/
header img.logo{
	height:50px;
	margin-left: 50px
}

header nav ul li a span.oi{
	display: inline;
	color: inherit;
	cursor: inherit;
}

header{
	background-color: #f9f9f9;
	border-bottom: 1px solid #fefefe;
}

/** Menu **/

header nav.navbar a {
	color: grey
}
header #user-img{
	height:50px;width:50px;
	display:inline-block;
	line-height: 50px;
	text-align:center;
	background-color:rgba(200, 200, 200, 1);
}
nav #dropdownmenu ul li a {width: auto; height: auto; text-align: left}
.navbar.navbar-right #dropdownmenu li{margin-left:0; float:none}
.navbar.navbar-right #dropdownmenu a{display: block}



/** positionnement **/
#sidebar{
	padding-top: 50px;
	background-color: #F9F9F9;
}

#session-top{
	padding-right: 25px;
}

#content{
	padding: 50px 50px 0 0;
}
#sidebar nav{
	padding-top: 25px;
}
#sidebar nav ul li i{
	margin-right:10px
}


#titre{
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 25px;
	}


#controls{}


/** Styles **/
table tr td{vertical-align:middle}

#sidebar #session-side{display:none;}


form select{
	height: 2.3em;
}
form select[multiple]{
	height: auto;
}



/************** MEDIA ******************/
@media only screen and (max-width:767px){
	#content{padding: 10px 20px;}
	#header{text-align:center}
	#header #session-top{display:none;}
	#sidebar #session-side{display:block;}
	#header a.logo{display:none;}
	#header img.logo{margin-left: calc(100% - 160px); height: 40px}
	#sidebar form{display:none;}
	#sidebar{padding-top: 0}
 	#titre h1{float: left}
	#titre #controls{float: right} 
}
