tr.statut.attente{background-color: rgba(255,165,0, 0.3);}
tr.statut.valide{background-color: rgba(3, 207, 3,  0.3);}
tr.statut.annule{background-color: rgba(255, 54, 0, 0.3);}
tr.statut.attente:hover{background-color: rgba(255,165,0, 0.5);-webkit-box-shadow: 0 0 5px 2px #B8B4B4;box-shadow: 0 0 5px 2px rgba(255,165,0,  0.2);}
tr.statut.valide:hover{background-color: rgba(3, 207, 3,  0.5);-webkit-box-shadow: 0 0 5px 2px #B8B4B4;box-shadow: 0 0 5px 2px rgba(3, 207, 3,  0.2)}
tr.statut.annule:hover{background-color: rgba(255, 54, 0, 0.5);-webkit-box-shadow: 0 0 5px 2px #B8B4B4;box-shadow: 0 0 5px 2px rgba(255, 54, 0, 0.2)}

table thead tr th{text-align:center}

td.insc.actions{background-color: #f6f6f6}

td{white-space:nowrap}

td.handle, th.handle{padding-right:0}
td.handle{color: #6f6f6f; cursor: move}


td.logistique{cursor: pointer; text-align:center;}
td.undefined{cursor: not-allowed; background-color: rgba(125,125,125, 0.2)}
td.logistique[data-type="text"]{cursor: text}